@using ParsianNews.Utilities
@model IEnumerable<ParsianNews.Models.Report>

<!-- Start Sport Line -->
<div class="box">
    <h6 class="position-relative ">
        <span class="Sport-Line-Color position-relative bg-body"> ورزشی </span>
        <a asp-page="./AllReports" asp-route-group="@ReportGroup.Sport" class="more-report bg-body"> <i class="fas fa-bars ms-3"></i> همه اخبار </a>
    </h6>
</div>
<!-- End Sport Line -->
<!-- Start Sport -->
<ul class="d-none d-sm-flex row mb-3 list-unstyled">
    @foreach (var report in Model)
    {
        <li class="scale col-lg-3 col-sm-6 my-sm-2">
            <div class="position-relative card shadow">
                <a asp-page="./Report" asp-route-id="@report.ReportId">
                    <img src="/ReportImages/@report.ReportImage" class="card-img-top img-sportANDeconomiccomponent" title="@report.ImageTitle" alt="@report.ReportImageAlt">
                </a>
                <div class="card-body p-2 mb-4 body-sportcomponent">
                    <a class="text-decoration-none" asp-page="./Report" asp-route-id="@report.ReportId">
                        <p class="card-text"> @report.Title </p>
                    </a>
                    <div class="position-absolute date-sportANDeconomiccomponent">
                        <p class="d-inline-block px-1 m-0"> <i class="fa fa-clock"></i> @report.CreateDate.ToShamsi() </p>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
<!-- End Sport -->
<!-- Start Sport Hidden -->
<ul class=" mb-3 d-sm-none list-unstyled">
    <!-- Card 1 -->
    @foreach (var report in Model)
    {
        <li>
            <div class="my-2">
                <div class="col-12 shadow d-inline-flex">
                    <div class="col-4">
                        <a><img src="/ReportImages/@report.ReportImage" class="card-img h-100" alt="@report.ReportImageAlt" title="@report.ImageTitle"></a>
                    </div>
                    <div class="col-8 bg-body-secondary p-2 body-small-sportcomponent">
                        <a class="text-decoration-none"><p> @report.Title </p></a>
                        <p class="d-inline-block px-1 m-0 date-small-sportANDeconomiccomponent"> <i class="fas fa-clock"></i> @report.CreateDate.ToShamsi() </p>

                    </div>
                </div>
            </div>
        </li>
    }
</ul>
<!-- End Sport Hidden -->
