@page
@model ParsianNews.Pages.Admin.Gallery.GalleryDetailsModel

@{
    ViewData["Title"] = "جزییات گالری";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallery.GalleryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallery.GalleryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallery.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallery.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditGallery" asp-route-id="@Model.Gallery.GalleryId">ویرایش</a> |
    <a asp-page="./Index">بازگشت به لیست</a>
</div>
