@page
@model ParsianNews.Pages.Admin.Image.DeleteImageModel

@{
    ViewData["Title"] = "حذف عکس";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>آیا از حذف تصویر مطمئن هستید؟</h3>
<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Image.ImageName)</th>
                <th>@Html.DisplayNameFor(model => model.Image.CreateDate)</th>
                <th>@Html.DisplayNameFor(model => model.Image.Gallery)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/ImageGallery/@Model.Image.ImageName" style="max-width:250px;" /></td>
                <td>@Html.DisplayFor(model => model.Image.CreateDate)</td>
                <td> @Html.DisplayFor(model => model.Image.Gallery!.GalleryName)</td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Image.ImageId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index">انصراف</a>
    </form>
</div>
